.social[data-v-440cba9e] {
    display: grid;
    grid-template-columns: repeat(auto-fit, 2.5rem);
    justify-content: space-between
}

.social a[data-v-440cba9e]:hover {
    opacity: 1;
    transition: .3s
}

.social a:hover svg path[data-v-440cba9e] {
    fill: #f42a3e;
    transition: .3s
}

.social a:hover svg circle[data-v-440cba9e] {
    stroke: #f42a3e;
    transition: .3s
}

.social a[data-v-440cba9e]:not(:hover),
.social a:not(:hover) svg circle[data-v-440cba9e],
.social a:not(:hover) svg path[data-v-440cba9e] {
    transition: .3s
}